

.header {
    background-color: 	#00ffbf;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  .header1 {
    background-color: 	#ebc934;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  .header2 {
    background-color: 	#1bd1bc;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
.nav {
    margin-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
  }

  ul li:nth-child(even) {
    background: #f9f9f9;
  }

  ul li:hover {
    background: #ddd;
  }

  .btn {
    background-color: cyan;
    display:block;
    border: 1px solid black;
    width: 10%;
    margin: 0px auto;
}